include README.md
include LICENSE
include requirements.txt
include CONTRIBUTING.md
include CHANGELOG.md
recursive-include examples *.py
recursive-include docs *.md *.rst
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
